/* all from ChrisWhong's code in class example */

html,
head,
body,
#main-container {
    height: 100%;
    width: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

#main-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

nav {
    padding: 1rem;
    border-bottom: 1px solid #000;
    display: flex;
}

.nav-links {
    flex-grow: 1;
    justify-content: end;
    display: flex;
}

.nav-link {
    display: inline-block;
    font-size: .9rem;
}

#content-container {
    flex-grow: 1;
    display: flex;
    min-height: 0;
}

#sidebar {
    width: 348px;
    padding: 1rem;
    font-size: 0.9rem;
    overflow-y: scroll;
    box-sizing: border-box;
}

#map {
    height: 100%;
    flex-grow: 1;
}

.title {
    font-weight: 600;
}

@media only screen and (max-width: 800px) {
    #content-container {
        flex-direction: column-reverse;
    }

    #map {
        height: 60%;
        flex-shrink: 0;
        min-width: 0;
    }

    #sidebar {
        width: 100%;
    }
}

/* legend styling from ChatGPT */
#legend {
    margin-top: 1rem;
}

.legend-item {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
}

.legend-color {
    width: 18px;
    height: 18px;
    border-radius: 4px;
    margin-right: 0.5rem;
    display: inline-block;
    border: 1px solid #ccc;
}